.clothes__section{
    max-width: 1015px;

}

.clothes__section-title{
    display: flex;
    gap: 20px;
    
    margin-top: 34px;
}

.clothes__title{
    margin: 0;
}

.clothes__section-button{
    border: none;
    cursor: pointer;
    background: none;
    color: #00000099;
    ;
}

.clothes-section__list{
    padding: 0;
    max-width: 1360px;
    display: grid;
    object-fit: contain;
    grid-template-columns: repeat(auto-fit, 325px);
    grid-gap: 20px;
}



